/* left */

/* Big Images */
.product-img-big {
    position: relative;
    width: 100%;
    height: 701px;
    overflow: hidden;
}

.product-detail-img-big {
    position: relative;
    width: 100%;
    transition: 0.4s;
}

.product-img-big-item {
    width: 100%;
    height: 701px;
    object-fit: cover;
    position: absolute;
}

.product-detail-img-big-next-btn {
    font-size: 35px;
    top: 50%;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    position:absolute;

}

.product-detail-img-big-prev-btn {
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 5%;
    z-index: 3;
    cursor: pointer;
}

/* Small Images */
.product-img-small-box {
    position: relative;
    margin-top: 15%;
    height: 490px;
}

.product-img-small {
    position: relative;
    height: 490px;
    overflow: hidden;
}

.product-detail-img-small {
    height: 490px;
    position: relative;
}

.product-detail-img-small img {
    position: absolute;
    width: 100%;
    height: 115px;
    object-fit:fill;
    cursor: pointer;
}

.product-detail-img-small .active {
    border: 3px solid black;
}

.product-detail-img-small-up-btn {
    position: absolute;
    font-size: 25px;
    top: -7%;
    left: 40%;
    cursor: pointer;
}

.product-detail-img-small-down-btn {
    position: absolute;
    font-size: 25px;
    bottom: -7%;
    left: 40%;
    cursor: pointer;
}


/* Right */

/**/
.product-detail-name {

}

.product-detail-sku {
    opacity: 0.7;
}

.product-detail-discount-price {
    font-size: 24px;
    font-weight: 500;
}

.product-detail-original-price {
    font-size: 16px;
    text-decoration: line-through;
    opacity: 0.5;
}

.product-detail-color-name {
    font-size: 22px;
    font-weight: 500;
}

.btn-check-size {
    color:chartreuse;
    font-size: 18px;
}

.product-detail-size-box {
    width: 80%;
    margin: 0 auto;
    height: 100vh !important; /* Thiết lập chiều cao là 100% chiều cao của viewport */
}


.product-detail-size-box-body {
    text-align: center;
}

.size-ao .row {
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.size-ao .row .col-2 {
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.size-ao .row .col-2:last-child {
    border-right: none !important;
}





.product-detail-quantity-text {
    font-size: 20px;
    font-weight: 500;
    margin: auto 0;
    margin-right: 10px;
    opacity: 0.7;
}

.product-detail-quantity-input {
    margin: auto 0;
    align-items: center;
    justify-content: center;
}

.product-detail-quantity-input .quantity-field {
    height: 45px;
    width: 45px;
    text-align: center;
    border: none;
    border-bottom: solid 2px green;
    border-top: solid 2px green;
}

.product-detail-quantity-input input[type="number"]::-webkit-inner-spin-button,
.product-detail-quantity-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.decrease-btn, .increase-btn {
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: aquamarine;
}

.decrease-btn {
    border-radius: 15px 0 0 15px;
    border: solid 2px green;
}

.increase-btn {
    border-radius: 0 15px 15px 0;
    border: solid 2px green;
}

.decrease-btn:hover, .increase-btn:hover {
    background-color: #00008B;
    color: aliceblue
}

.product-detail-action {
    align-items: center;
    justify-content:space-between;
    padding-right: 150px;
    margin: 20px 0;
}

.product-detail-action button {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0 15px;
}

.product-detail-action-cart {
    background-color: black;
    color: white;
}

.product-detail-action-cart:hover {
    background-color: white;
    color: black;
}

.product-detail-action-buy, .product-detail-action-like {
    background-color: white;
    color: black;
}

.product-detail-action-buy:hover, .product-detail-action-like:hover {
    background-color: black;
    color: white;
}

.product-infor-btn-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.product-infor-btn {
    margin:0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
}

