* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    z-index: 10;
}

/* icon */
.nvicon {
    color: #fff;
    font-size: 20px;
}

.fa-bars {
    color: #fff;
    font-size: 30px;
}

.nav-btn {
    padding: 0 15px;

    .bg-primary {
        background-color: #e5345b !important;
    }
}

.nav-btn:hover .nvicon {
    color: #8B0000;
}


/* logo */
#logo {
    width: 100px;
    height: 100px;
    padding-left: 10px;
}

/* menu bar */

.navbar {
    background-image: linear-gradient(to right, #008B8B, #00008B);
    /* dải màu từ A -> B */
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 600;
}

.nav-item:hover {

    color: red !important;

    .dropdown-menu {
        visibility: visible;
    }
}

/* menu detail */
.contact-menu {
    visibility: hidden;
    position: absolute;
    background-color: #F0FFFF;
    padding: 10px;
    border: 2px solid aqua;
    transition: margin 0.5s ease;
    /* Hiệu ứng transition */
    margin-top: 50px;
    list-style: none;
    /* Xóa chấm tròn trong danh sách */
    line-height: 2;
    /* Đặt khoảng cách giữa các hàng là 2 lần chiều cao của phông chữ */

}

.contact:hover {
    .contact-menu {
        visibility: visible;
        margin-top: 0;
    }

    .nav-link {
        color: red !important;
    }
}

.contact-menu:hover {
    visibility: visible;
    margin-top: 0;
}

/* sub menu */
.contact-sub-menu {
    list-style: none;
    /* Loại bỏ chấm tròn */
    line-height: 1.8;
    /* Đặt khoảng cách giữa các hàng là 2 lần chiều cao của phông chữ */
}

.contact-item {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.contact-item:hover {
    color: #FF4500;
}

.contact-sub-item {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    font-size: 16px;
    color: black;
}

.contact-sub-item:hover {
    color: #FF4500;
}

/* search bar */
.sf {
    padding: 0 20px;
}

#searchbtn {
    color: bisque;
}

/* slide */
.slider {
    padding-top: 110px;
    padding-bottom: 30px;
    border-bottom: 2px solid #00008B;
    overflow: hidden;
}

.slide {
    transition: 0.4s;
}

.slideCon {
    position: relative;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #CCC;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
}

.active {
    background-color: #000;
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
    /* Đảm bảo nút được hiển thị trên ảnh */

}

.next-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    /* Đảm bảo nút được hiển thị trên ảnh */
}

.btn-slide {
    font-size: 40px;
    color: #00008B;
    opacity: 0.7;
}

.over {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: #000;
    transition: 0.4s;
}

.overlay a {
    background-color: white;
    color: green;
}

.overlay a:hover {
    background-color: #e5345b;
    color: white;
}

.red-text {
    color: red;
}

/* footer */

.footer-top {
    background-color: #FFE4E1;
}

.footer-bottom {
    background-color: #FFDEAD;
}

.footer-img {
    width: 150px;
}
