* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    z-index: 10;
}

/* icon */
.nvicon {
    color: #fff;
    font-size: 20px;
}

.fa-bars {
    color: #fff;
    font-size: 30px;
}

.nav-btn {
    padding: 0 15px;

    .bg-primary {
        background-color: #e5345b !important;
    }
}

.nav-btn:hover .nvicon {
    color: #8B0000;
}


/* logo */
#logo {
    width: 100px;
    height: 100px;
    padding-left: 10px;
}

/* menu bar */

.navbar {
    background-image: linear-gradient(to right, #008B8B, #00008B);
    /* dải màu từ A -> B */
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 600;
}

.nav-item:hover {

    color: red !important;

    .dropdown-menu {
        visibility: visible;
    }
}

/* menu detail */
.contact-menu {
    visibility: hidden;
    position: absolute;
    background-color: #F0FFFF;
    padding: 10px;
    border: 2px solid aqua;
    transition: margin 0.5s ease;
    /* Hiệu ứng transition */
    margin-top: 50px;
    list-style: none;
    /* Xóa chấm tròn trong danh sách */
    line-height: 2;
    /* Đặt khoảng cách giữa các hàng là 2 lần chiều cao của phông chữ */

}

.contact:hover {
    .contact-menu {
        visibility: visible;
        margin-top: 0;
    }

    .nav-link {
        color: red !important;
    }
}

.contact-menu:hover {
    visibility: visible;
    margin-top: 0;
}

/* sub menu */
.contact-sub-menu {
    list-style: none;
    /* Loại bỏ chấm tròn */
    line-height: 1.8;
    /* Đặt khoảng cách giữa các hàng là 2 lần chiều cao của phông chữ */
}

.contact-item {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.contact-item:hover {
    color: #FF4500;
}

.contact-sub-item {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    font-size: 16px;
    color: black;
}

.contact-sub-item:hover {
    color: #FF4500;
}

/* search bar */
.sf {
    padding: 0 20px;
}

#searchbtn {
    color: bisque;
}

/* footer */

.footer-top {
    background-color: #FFE4E1;
}

.footer-bottom {
    background-color: #FFDEAD;
}

.footer-img {
    width: 150px;
}

.footer-list-item a {
    color: black;
}

.footer-list-item a:hover {
    color: red;
}

.footer-icon {
    width: auto;
    height: 30px;
}

/* form */
.footer-register-form {
    background-color: #FFFFFF !important;
    border-radius: 56px 0px;
    justify-content: center;
    margin: 5px 20px;
    border: 2px solid salmon;
}

.title-footer {
    color: #00008B;
    font-weight: 500;
    font-size: 20px;
    margin: 5px 5px 5px 30px;
}

.footer-subscribe {
    margin: 15px 30px 15px 15px;

}

.footer-btn-submit input {
    border-radius: 20px 0px;
    /* Bo tròn góc */
    background-color: pink;
    /* Đổi màu nền */
    border: 1px solid black;
    /* Xóa border */
    padding: 10px 20px;
    /* Khoảng cách giữa nút và văn bản */
}

.footer-btn-submit:hover input {
    background-color: black;
    color: white;
}

#footer-email-subscribe {
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    /* Khoảng cách giữa phần input và văn bản */
    margin-right: 10px;
}

.footer-last-img {
    height: auto;
}

.footer-subscribe-notice {
    left: 77%;
    right: 5%;
    z-index: 10;
    padding: 5px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    visibility: hidden;
    transition: visibility;
}

.footer-icon-notice {
    font-size: 24px;
    margin-right: 10px;
    /* Tạo khoảng cách giữa icon và văn bản */
}

/* ẩn hiện */

.show {
    visibility: visible !important;
}