/* footer */
#footer {
    color: var(--cl-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cl-dark);
}

#footer-top {
    display: flex;
    width: 100%;
}

.footer-top-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex: 1; */
    width: 25%;
    padding: 20px;

}

#footer-logo-img {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

#location-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px 0;
    border: 2px solid var(--cl-main);
}

.location-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-top-item a {
    color: var(--cl-main);
    font-weight: 700;
}

.footer-top-item a:hover {
    color: var(--hv-extra);
}

.footer-top-item ul {
    line-height: 3;
}

.footer-icon {
    width: auto;
    height: 34px;
}

/* form */
#footer-subscribe {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 40px 0;
    border: 2px solid var(--cl-main);
    padding: 20px;
    margin-bottom: 70px;
    margin-top: 20px;
}

#footer-register-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer-email-subscribe {
    border: none;
    border-bottom: 1px solid var(--cl-main);
    padding: 10px;
    background-color: transparent;
    color: var(--cl-main);
    width: calc(100% - 110px);
}

#footer-email-subscribe::-webkit-input-placeholder {
    color: var(--cl-main-op-50);
    font-style: italic;
}

.footer-subscribe-notice {
    position: absolute;
    bottom: -100%;
    right: calc(50% - 150px);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    width: 300px;
    border-radius: 20px 0;
    color: var(--hv-main);
    font-weight: 700;
    transition: bottom 0.4s ease;
    visibility: hidden;
}

.footer-subscribe-notice.active {
    visibility: visible;
    bottom: -50%;
}

.footer-subscribe-notice i {
    margin-right: 5px;
}

#footer-subscribe-success {
    background-color: var(--cl-main);
}

#footer-subscribe-error {
    background-color: red;
}

#footer-subscribe-fail {
    background-color: yellowgreen;
}

/* ----------------------------------------------------- Navbar -------------------------------------------------------*/
#bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: none;
    background-color: var(--cl-main);
}

.bottom-navbar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottom-navbar-item:hover {
    color: var(--hv-main);
}



/* ----------------------------------------------------- Responsive --------------------------------------------------*/
/* Điện thoại di động (dưới 480px) */
@media only screen and (max-width: 480px) {
    #bottom-navbar {
        display: flex;
    }

    #footer {
        padding-bottom: 60px;
        margin: 0;
        overflow-x: hidden;
    }

    #footer-top {
        flex-direction: column;
    }

    .footer-top-item {
        width: 100%;
    }

    .footer-responsive {
        display: none !important;
    }

    #footer-subscribe {
        margin-bottom: 10px;
    }

    .footer-subscribe-notice.active {
        bottom: 120%;
    }
}

/* Điện thoại di động lớn và máy tính bảng nhỏ (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #bottom-navbar {
        display: flex;
    }

}


/* Máy tính bảng và thiết bị màn hình nhỏ (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Máy tính xách tay và màn hình lớn (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Màn hình rộng (1201px trở lên) */
@media only screen and (min-width: 1201px) {

}