/* footer */
footer {
    color: var(--cl-main);
}
.footer-top {
    background-color: var(--cl-dark);
}

.footer-bottom {
    background-image: url(../images/bg_namek.jpg);
    background-size: cover;
    background-position: center;
}

.footer-img {
    width: 150px;
}

.footer-icon {
    width: auto;
    height: 30px;
}

.footer-list-item a {
    color: var(--cl-main);
}

.footer-list-item a:hover {
    color: var(--hv-extra);
    font-weight: 700;
}

/* form */
.footer-register-form {
    background-color: transparent !important;
    border-radius: 50px 0px;
    justify-content: center;
    margin: 5px 20px;
    border: 3px solid var(--cl-main);
}

.title-footer {
    font-weight: 700;
    font-size: 20px;
    margin: 5px 5px 5px 30px;
}

.footer-subscribe {
    margin: 15px 30px 15px 15px;

}

.footer-btn-submit input {
    border-radius: 20px 0px;
    background-color: var(--cl-extra);
    border: 1px solid var(--cl-main);
    padding: 10px 20px;
    color: white;
}

.footer-btn-submit:hover input {
    background-color: var(--cl-main);
    border: 1px solid var(--cl-extra);
    color: white;
}

#footer-email-subscribe {
    border: none;
    border-bottom: 1px solid var(--cl-main);
    padding: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: var(--cl-main);
}

#footer-email-subscribe::-webkit-input-placeholder {
    color: var(--cl-main-op-50);
    font-style: italic;
}

.footer-last-img {
    width: 100%;
    height: auto;
}

.footer-subscribe-notice {
    left: 77%;
    right: 5%;
    z-index: 10;
    padding: 5px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    visibility: hidden;
    transition: visibility;
}

.footer-icon-notice {
    font-size: 24px;
    margin-right: 10px;
}

.img-goku-frieza {
    width: 450px;
    height: auto;
}

.footer-text {
    background-color: black;
}
