#header {
    z-index: 10;
    background-color: var(--cl-main);
    box-shadow: 0px 2px 2px var(--cl-extra-op-25);
    height: var(--hd-height);
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
}

#logo-and-menu {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* ----------------------------------------------------------------- logo ---------------------------------------------------- */
#logo-image {
    width: calc(var(--hd-height) - 10px);
    height: calc(var(--hd-height) - 10px);
}

/* --------------------------------------------------------------- menu bar ------------------------------------------------------ */
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.menu-item {
    padding: 15px 5px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.menu-item:hover>a {
    color: var(--hv-main);
}

/* menu detail */
.sub-menu {
    visibility: hidden;
    position: absolute;
    background-color: var(--cl-light);
    padding: 20px 30px;
    width: max-content;
    border: 3px solid var(--cl-extra);
    transition: margin 0.5s ease;
    margin-top: 50px;
    line-height: 2;
    /* Đặt khoảng cách giữa các hàng là 2 lần chiều cao của phông chữ */
    border-radius: 20px 0 20px 0;
}

.sub-menu:hover,
.menu-item:hover .sub-menu {
    visibility: visible;
    margin-top: 10px;
}

/* sub menu */
.mini-menu {
    line-height: 1.8;
    font-weight: 600;
}

.sub-item:hover,
.mini-item:hover {
    color: var(--hv-extra) !important;
}

/*------------------------------------------------- icon ------------------------------------------------------------------------ */
#tool {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nvicon {
    color: var(--cl-extra);
    font-size: 24px;
}

.fa-bars {
    color: var(--cl-extra);
    font-size: 30px;
}

.nav-btn {
    padding: 5px;
}

.nav-btn div {
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5345b;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position: absolute;
    top: -40%;
    left: 80%;
}

.nav-btn div span {
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.nav-btn:hover .nvicon {
    color: var(--hv-main);
}

/* search bar */
#search-bar {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    position: relative;
}

#search-btn {
    color: var(--cl-extra);
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
}

#search-input {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--cl-extra);
    color: var(--cl-extra);
}

#search-input::-webkit-input-placeholder {
    color: var(--cl-extra-op-50);
    font-style: italic;
}

/* ----------------------------------------------------- Suggest search ----------------------------------------------------*/
#suggest-container {
    position: absolute;
    top: 50%;
    left: 0%;
    padding-top: 12px;
    max-width: 400px;
    width: max-content;
    background-color: transparent;
    transition: top 0.4s ease, visibility 0.4s ease-out;
    visibility: hidden;
}

#search-bar:hover #suggest-container,
#suggest-container:hover {
    top: 100%;
    visibility: visible;
}

#suggest-search {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px 0;
    border: 2px solid var(--cl-extra);
    background-color: var(--cl-light);
    box-shadow: 2px 2px 2px var(--cl-extra-op-25);
}

.suggest-content {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--cl-extra-op-25);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#suggest-search .suggest-content:last-child {
    border: none;
}

.suggest-content h4 {
    font-weight: 700;
}

.suggest-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.suggest-item {
    padding: 7px 15px;
    border-radius: 15px 0;
    border: 1px solid var(--cl-extra);
    cursor: pointer;
}

.suggest-item:hover {
    background-color: var(--hv-extra);
    color: var(--hv-main);
    border-color: var(--hv-main);
}

/* -----------------------------------------------------Avatar menu--------------------------------------------------------*/
#avatar {
    height: calc(var(--hd-height) - 20px);
    width: calc(var(--hd-height) - 20px);
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--cl-extra);
    position: relative;
}

#avatar-menu {
    background-color: var(--cl-light);
    position: absolute;
    top: 95%;
    right: -20%;
    border-radius: 30px 0 30px 0;
    width: 300px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px var(--cl-extra-op-25);
    transition: right 0.7s ease;
    z-index: 5;
    display: none;
}

.avatar-menu-item {
    padding: 8px 0;

    a {
        color: var(--cl-extra);
    }
}

.avatar-menu-item a:hover {
    color: var(--hv-extra);
}

.avatar-menu-item a i {
    font-size: 20px;
    margin-right: 10px;
}

#preview-profile {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--cl-main-op-50);
}

#preview-profile img {
    height: calc(var(--hd-height) - 30px);
    width: calc(var(--hd-height) - 30px);
    border-radius: 50%;
    margin-right: 10px;
}

#preview-profile div {
    width: 80%;
}

#preview-infor span:first-child {
    color: var(--hv-extra);
    font-weight: 700;
}

#preview-infor span:last-child {
    font-size: 14px;
    opacity: 0.7;
}

/* --------------------------------------------------Cart Preview-----------------------------------------------------------*/
#cart-preview {
    width: var(--hd-right-width);
    height: 100vh;
    background-color: var(--cl-light);
    position: absolute;
    top: 0%;
    right: var(--hd-right-transition);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: -4px 0px 2px var(--cl-extra-op-25);
    transition: right 0.7s ease, visibility 0.7s ease-out;
    visibility: hidden;
}

#cart-preview.active {
    visibility: visible;
    right: 0%;
}

/* header */
#cart-preview-header {
    height: var(--hd-height);
    background-color: var(--cl-main);
    box-shadow: 0px 2px 2px var(--cl-extra-op-25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#cart-preview-header div {
    position: relative;
}

#cart-preview-header div p {
    position: absolute;
    top: -10%;
    right: -24%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #e5345b;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
}

#cart-preview-header button {
    background-color: transparent;
    border: none;

    i {
        font-size: 32px;
        color: var(--cl-extra);
    }
}

#cart-preview-header button:hover i {
    color: var(--hv-main);
}

#cart-preview-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--hd-height) - 10px);
}

/* content */
#cart-preview-content {
    height: 85%;
    background-color: var(--cl-light);
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-right: 5px;
}

#cart-preview-content::-webkit-scrollbar {
    width: 5px;
}

#cart-preview-content::-webkit-scrollbar-thumb {
    background-color: var(--cl-extra);
    border-radius: 10px;
}

#cart-preview-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.cart-preview-item {
    padding: 10px 0;
    border-bottom: 2px solid var(--cl-extra-op-25);
    display: flex;
    gap: 10px;
}

.cart-preview-image {
    height: 100px;
    width: 75px;
    object-fit: cover;
}

.cart-preview-detail {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-preview-detail p {
    margin: 0;
}

.cart-preview-name {
    color: var(--cl-extra);
    font-weight: bold;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.cart-preview-name:hover {
    color: var(--hv-extra);
}

.cart-preview-color,
.cart-preview-size {
    width: 50%;
}

.cart-preview-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 12px 0;
    height: fit-content;
    border: 2px solid white;
    position: relative;
    width: 102px;
}

.cart-preview-number button {
    background-color: var(--cl-main);
    border: none;
    padding: 5px 10px;
    border-radius: 12px 0 12px 0;
    border: 2px solid white;
    position: absolute;
}

.cart-preview-number button:first-child {
    left: -2px;
}

.cart-preview-number button:last-child {
    right: -2px;
}

.cart-preview-number button i {
    color: var(--cl-extra);
}

.cart-preview-number input {
    height: 34px;
    width: 34px;
    background-color: transparent;
    border: none;
    padding: 7px;
    color: var(--cl-extra);
    text-align: center;
}

.cart-preview-input::-webkit-outer-spin-button,
.cart-preview-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Remove increment/decrement buttons */
    display: none;
}

.cart-preview-price {
    color: var(--hv-extra);
}

/* footer */
#cart-preview-footer {
    height: 15%;
    background-color: var(--cl-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#cart-preview-footer a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#cart-preview-footer p {
    margin: 0;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    font-size: 18px;
}

#cart-preview-footer p span {
    color: var(--hv-main);
    font-weight: 700;
}

/* ----------------------------------------------------- Side bar ----------------------------------------------------*/
#sidebar {
    position: absolute;
    width: var(--hd-right-width);
    height: 100vh;
    top: 0%;
    left: var(--hd-right-transition);
    background-color: var(--cl-light);
    z-index: 5;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 2px var(--cl-extra-op-25);
    transition: left 0.7s ease, visibility 0.7s ease-out;
    visibility: hidden;
}

#sidebar.active {
    visibility: visible;
    left: 0%;
}

#sidebar button,
#sidebar-btn {
    background-color: transparent;
    border: none;
}

#sidebar-btn i,
#sidebar-close-btn i {
    font-size: 34px;
    color: var(--cl-extra);
}

#sidebar-btn:hover i,
#sidebar-close-btn:hover i {
    color: var(--hv-main);
}

#sidebar-header {
    height: var(--hd-height);
    background-color: var(--cl-main);
    box-shadow: 0px 2px 2px var(--cl-extra-op-25);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#sidebar-list {
    padding: 10px 15px;
    width: 100%;
    height: calc(100% - var(--hd-height) - 10px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar-list::-webkit-scrollbar {
    display: none;
}

.sidebar-item {
    padding: 5px;
    font-weight: 700;
}

.sidebar-mini-item {
    font-weight: 600;
}

.sidebar-item a:hover {
    color: var(--hv-extra);
    font-weight: 700;
}

.sidebar-item-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item-bar i {
    font-size: 20px;
    color: var(--cl-extra);
    opacity: 0.5;
}

.sidebar-more-item-btn:hover i {
    color: var(--hv-extra);
    opacity: 1;
}

.sidebar-item-bar.active {
    i {
        opacity: 1;
    }

    background-color: var(--cl-extra-op-25);
    padding: 5px;

}

.sidebar-sub-menu,
.sidebar-mini-menu {
    border: 2px solid var(--cl-extra);
    padding: 10px 20px;
    margin-bottom: 10px;
    display: none;
    line-height: 2;
}

.sidebar-sub-menu.active,
.sidebar-mini-menu.active {
    display: block;
}


/* ----------------------------------------------------- Responsive --------------------------------------------------*/
/* Điện thoại di động (dưới 480px) */
@media only screen and (max-width: 480px) {
    :root {
        --hd-right-width: 80%;
        --hd-right-transition: -90%;
    }

    * {
        font-size: 14px;
    }

    #sidebar-btn {
        display: block;
    }

    #sidebar {
        display: flex;
    }

    #menu,
    #avatar,
    #favorite-btn,
    #search-bar {
        display: none;
    }

}

/* Điện thoại di động lớn và máy tính bảng nhỏ (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    :root {
        --hd-right-width: 50%;
        --hd-right-transition: -60%;
    }

    #sidebar-btn {
        display: block;
    }

    #sidebar {
        display: flex;
    }

    #menu,
    #avatar,
    #favorite-btn,
    #search-bar {
        display: none;
    }

}


/* Máy tính bảng và thiết bị màn hình nhỏ (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #sidebar-btn,
    #sidebar {
        display: none;
    }
}

/* Máy tính xách tay và màn hình lớn (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #sidebar-btn,
    #sidebar {
        display: none;
    }
}

/* Màn hình rộng (1201px trở lên) */
@media only screen and (min-width: 1201px) {
    #sidebar-btn,
    #sidebar {
        display: none;
    }
}