#product-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#product-detail-main {
    display: flex;
    width: 100%;
}

#product-detail-main-left,
#product-detail-main-right {
    display: flex;
    width: 50%;
}

#product-detail-main-left {
    gap: 4%;
    align-items: center;
}

/* --------------------------------------- Left ----------------------------------
/* Big Images */
#product-detail-img-big {
    position: relative;
    width: 82%;
    height: 701px;
    overflow: hidden;
}

#product-detail-img-big-list {
    position: relative;
    width: 100%;
    transition: 0.4s;
}

.product-detail-img-big-item {
    width: 100%;
    height: 701px;
    object-fit: fill;
    position: absolute;
}

#product-detail-img-big-next-btn,
#product-detail-img-big-prev-btn {
    i {
        font-size: 34px;
    }
    top: calc(50% - 17px);
    z-index: 3;
    cursor: pointer;
    position:absolute;
    opacity: 0.7;
}

#product-detail-img-big-next-btn:hover,
#product-detail-img-big-prev-btn:hover {
    opacity: 1;
    i {
        font-size: 40px;
    }
    top: calc(50% - 20px);
}

#product-detail-img-big-next-btn {
    right: 5%;
}

#product-detail-img-big-prev-btn {
    left: 5%;
}

/* Small Images */
#product-detail-img-small {
    position: relative;
    height: 510px;
    width: 14%;
    display: flex;
    align-items: center;
}

#product-detail-img-small-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#product-detail-img-small-list {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.4s;
}

.product-detail-img-small-item {
    position: absolute;
    width: 100%;
    height: 120px;
    object-fit: fill;
    cursor: pointer;
}

#product-detail-img-small-list .active {
    border: 3px solid var(--cl-extra);
}

#product-detail-img-small-up-btn,
#product-detail-img-small-down-btn {
    position: absolute;
    i {
        font-size: 24px;
    }
    left: calc(50% - 12px);
    cursor: pointer;
    opacity: 0.7;
}

#product-detail-img-small-up-btn {
    top: -7%;
}

#product-detail-img-small-down-btn {
    bottom: -7%;
}

#product-detail-img-small-up-btn:hover, 
#product-detail-img-small-down-btn:hover {
    opacity: 1;
    i {
        font-size: 30px;
    }
    left: calc(50% - 15px);

}

/* -------------------------------------------------- Right --------------------------------------------------------------- */
#product-detail-main-right {
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

#product-detail-right-content {
    width: 82%;
    background-color: var(--cl-extra-op-25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#product-detail-name {
    font-weight: 700;
    max-width: 100%;
    overflow-wrap: break-word;
}

#product-detail-sku {
    opacity: 0.8;
}

#product-detail-price-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

#product-detail-discount-price {
    font-size: 22px;
    font-weight: 700;
}

#product-detail-original-price {
    text-decoration: line-through;
    opacity: 0.6;
}

#product-detail-sale-ticket {
    position: absolute;
    top: -50%;
    right: -40%;
    background-color: var(--cl-extra);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

#product-detail-color-name {
    font-weight: 700;
}

#product-detail-color-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 0;
}

.product-detail-color-dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.product-detail-color-dot i {
    position: absolute;
    color: var(--cl-extra); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    visibility: hidden;
    font-size: 15px;
}

.product-detail-color-dot.active {
    border: 2px solid var(--cl-extra);
    i {
        visibility: visible;
    }
}

#product-detail-size {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.choose-size-btn {
    border-radius: 10px 0;
    background-color: transparent;
    padding: 5px;
    width: 60px;
    text-align: center;
    border: 2px solid var(--cl-extra);
    cursor: pointer;
}

.choose-size-btn:hover,
.choose-size-btn.active {
    background-color: var(--cl-extra);
    color: white;
    font-weight: 700;
    border-color: white;
}

.choose-size-btn.active {
    cursor: default;
}

.choose-size-btn.oos {
    opacity: 0.5;
    cursor: default;
    text-decoration: line-through;
    pointer-events: none; /* Ngăn các sự kiện chuột */
}

#product-detail-quantity {
    font-weight: 700;
    span {
        font-weight: 600;
    }
}

#check-size-btn {
    background-color: transparent;
    border: none;
    color: var(--cl-extra);
}

#check-size-btn:hover {
    color: var(--hv-extra);
}

.product-detail-size-box {
    width: 80%;
    margin: 0 auto;
    height: 100vh !important;
}

.product-detail-size-box-body {
    text-align: center;
}

.size-ao .row {
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.size-ao .row .col-2 {
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.size-ao .row .col-2:last-child {
    border-right: none !important;
}

#product-detail-number {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    span {
        font-weight: 700;
    }
}

#product-detail-number-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 12px 0;
    height: fit-content;
    border: 2px solid white;
    position: relative;
    width: 102px;
}

#product-detail-number-bar button {
    background-color: var(--cl-extra);
    border: none;
    padding: 5px 10px;
    border-radius: 12px 0 12px 0;
    border: 2px solid white;
    position: absolute;
}

#product-detail-number-bar button:first-child {
    left: -2px;
}

#product-detail-number-bar button:last-child {
    right: -2px;
}

#product-detail-number-bar button i {
    color: white;
}

#product-detail-number-bar input {
    height: 34px;
    width: 34px;
    background-color: transparent;
    border: none;
    padding: 7px;
    color: var(--cl-extra);
    text-align: center;
}

#product-detail-number-bar input::-webkit-outer-spin-button,
#product-detail-number-bar input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Remove increment/decrement buttons */
  display: none;
}















.product-detail-quantity-text {
    font-size: 20px;
    font-weight: 500;
    margin: auto 0;
    margin-right: 10px;
    opacity: 0.7;
}

.product-detail-quantity-input {
    margin: auto 0;
    align-items: center;
    justify-content: center;
}

.product-detail-quantity-input .quantity-field {
    height: 45px;
    width: 45px;
    text-align: center;
    border: none;
    border-bottom: solid 2px green;
    border-top: solid 2px green;
}

.product-detail-quantity-input input[type="number"]::-webkit-inner-spin-button,
.product-detail-quantity-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.decrease-btn, .increase-btn {
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: aquamarine;
}

.decrease-btn {
    border-radius: 15px 0 0 15px;
    border: solid 2px green;
}

.increase-btn {
    border-radius: 0 15px 15px 0;
    border: solid 2px green;
}

.decrease-btn:hover, .increase-btn:hover {
    background-color: #00008B;
    color: aliceblue
}

.product-detail-action {
    align-items: center;
    justify-content:space-between;
    padding-right: 150px;
    margin: 20px 0;
}

.product-detail-action button {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0 15px;
}

.product-detail-action-cart {
    background-color: black;
    color: white;
}

.product-detail-action-cart:hover {
    background-color: white;
    color: black;
}

.product-detail-action-buy, .product-detail-action-like {
    background-color: white;
    color: black;
}

.product-detail-action-buy:hover, .product-detail-action-like:hover {
    background-color: black;
    color: white;
}

/* Product Information */

.product-infor-btn-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.product-infor-btn {
    margin:0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
}

