/* slide */
.slider-container {
    width: 85%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel,
.owl-stage-outer {
    width: 100% !important;
    height: 100% !important;
}

.owl-item, .owl-stage, .item {
    height: 100% !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    i {
        font-size: 40px;
        color: var(--cl-extra);
    }
}

.owl-next {
    right: 20px;
}

.owl-prev {
    left: 20px;
}

.owl-next:hover,
.owl-prev:hover {
    opacity: 1;
    background-color: transparent !important;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.owl-dots {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom : 20px;
}

.owl-dot {
    height: fit-content !important;
    width: fit-content !important;
}

.owl-dot span{
    height: 20px !important;
    width: 20px !important;
    background-color: var(--cl-extra-op-25) !important;
    margin: 0 !important;
}

.owl-dot span:hover {
    background-color: var(--cl-extra-op-50) !important;
}

.owl-dot.active span{
    background-color: var(--cl-extra) !important;
}

/* ---------------------------------------------- Tùy chọn -------------------------------------------------------*/
.item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 75px 0;
}

.slide-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.slide-overlay-btn {
    background-color: var(--hv-extra);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 15px 0;
    border: 2px solid white;
}

.slide-overlay-btn:hover {
    background-color: white;
    color: var(--hv-extra);
    border-color: var(--hv-extra);
}