/* slide */
.slider {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--cl-extra);
    overflow: hidden;
}

.slide {
    transition: 0.4s;
}

.slideCon {
    position: relative;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #CCC;
    border-radius: 50%;
    margin: 0px 6px;
    cursor: pointer;
}

.dot-active {
    background-color: var(--cl-extra);
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.btn-slide i {
    font-size: 40px;
    color: var(--cl-extra);
    opacity: 0.7;
}

.btn-slide:hover i {
    opacity: 1;
}

.over {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: var(--cl-extra);
    transition: 0.4s;
}

.overlay a {
    background-color: transparent;
    color: black;
    border-radius: 15px 0;
}

.overlay a:hover {
    background-color: var(--hv-extra);
    color: var(--hv-main);
    font-weight: 700;
}

/* .red-text {
    color: red;
}

.view-all {
    background-color: aqua;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 24px 0px;
    border: 1px solid #FF69B4;
}

.view-all:hover {
    background-color: black;
    color: white;
} */