/* slide */
.slider-container {
    width: 100%;
    height: 75vh;
    overflow: visible;
    position: relative;
    background-color: black;
}

.slide {
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
    height: 100%;
}

.slide-item {
    min-width: 100%;
    height: 100%;
    position: absolute;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slide-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.slide-prev-btn,
.slide-next-btn {
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
}

.slide-next-btn {
    right: 20px;
}

.slide-prev-btn {
    left: 20px;
}

.btn-slide i {
    font-size: 40px;
    color: var(--cl-extra);
    opacity: 0.7;
}

.btn-slide:hover i {
    opacity: 1;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--cl-extra-op-25);
    border-radius: 50%;
    cursor: pointer;
}

.dot:hover {
    background-color: var(--cl-extra-op-50);
}

.dot.active {
    background-color: var(--cl-extra);
    pointer-events: none;
}


/* ---------------------------------------------- Tùy chọn -------------------------------------------------------*/
.slide-overlay-btn {
    background-color: var(--hv-extra);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 15px 0;
    border: 2px solid white;
}

.slide-overlay-btn:hover {
    background-color: white;
    color: var(--hv-extra);
    border-color: var(--hv-extra);
}