/* --------------------------------------------------------------- var ------------------------------------------------------------ */
:root {
    --hv-main: white;
    --hv-extra: #EA4C89;
    --hd-height: 80px;
    --hd-right-width: 25%;
    --hd-right-transition: -30%;


    --cl-main: #00ccff;
    --cl-extra: #1b337f;
    --cl-light: #F7F7F7;
    --cl-dark: #1b1b32;
    --cl-main-op-25: rgba(0, 204, 255, 0.25);
    --cl-main-op-50: rgba(0, 204, 255, 0.5);
    --cl-main-op-75: rgba(0, 204, 255, 0.75);
    --cl-extra-op-25: rgba(27, 51, 127, 0.25);
    --cl-extra-op-50: rgba(27, 51, 127, 0.5);
    --cl-extra-op-75: rgba(27, 51, 127, 0.75);
    --cl-text-light: white;
    --cl-text-dark: black;
}

/* :root {
    --cl-main: #1b337f;
    --cl-extra: #00ccff;
    --cl-light: #1b1b32;
    --cl-dark: #F7F7F7;
    --cl-main-op-25: rgba(27, 51, 127, 0.25);
    --cl-main-op-50: rgba(27, 51, 127, 0.5);
    --cl-main-op-75: rgba(27, 51, 127, 0.75);
    --cl-extra-op-25: rgba(0, 204, 255, 0.25);
    --cl-extra-op-50: rgba(0, 204, 255, 0.5);
    --cl-extra-op-75: rgba(0, 204, 255, 0.75);
    --cl-text-light: black;
    --cl-text-dark: white;
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--cl-extra);
}

a:hover {
    color: var(--hv-main);
}

li {
    list-style: none;
}

body {
    padding-top: var(--hd-height);
    background-color: var(--cl-light);
    color: var(--cl-extra);
}

/* ------------------------------------------ Button ----------------------------------------------------------------------------*/
.small-btn,
.medium-btn,
.large-btn {
    font-weight: 700;
    border: none;
    transition: box-shadow 0.3s ease;
}

.small-btn {
    font-size: 14px;
    border-radius: 10px 0 10px 0;
    padding: 8px 12px;
}

.medium-btn {
    font-size: 16px;
    border-radius: 15px 0 15px 0;
    padding: 10px 15px;
}

.large-btn {
    font-size: 18px;
    border-radius: 20px 0 20px 0;
    padding: 15px 20px;
}

.small-btn:hover {
    box-shadow: 0px 3px 3px var(--cl-extra-op-25);
}

.medium-btn:hover {
    box-shadow: 0px 4px 4px var(--cl-extra-op-25);
}

.large-btn:hover {
    box-shadow: 0px 5px 5px var(--cl-extra-op-25);
}

.small-btn.border-btn {
    border: 2px solid;
}

.medium-btn.border-btn {
    border: 3px solid;
}

.large-btn.border-btn {
    border: 4px solid;
}

.transparent-btn {
    background-color: transparent !important;
}

.transparent-btn:hover {
    background-color: var(--cl-extra) !important;
    color: white !important;
}
/* color-button */
.dark-blue-btn {
    background-color: var(--cl-extra);
    color: white;
}

.dark-blue-btn:hover,
.dark-blue-btn.active {
    background-color: white;
    color: var(--cl-extra);
}

.light-blue-btn {
    background-color: var(--cl-main);
    color: white;
}

.light-blue-btn:hover,
.light-blue.active {
    background-color: white;
    color: var(--cl-main);
}

.black-btn {
    background-color: black;
    color: white;
    border-color: #EA4C89 !important;
}

.black-btn:hover,
.black-btn.active {
    background-color: white;
    color: black;
    border-color: #EA4C89;
}

.black-btn.active, .white-btn.active, .pink-btn.active {
    cursor: default;
}

/* ------------------------------------------------------- Format -------------------------------------------------------*/

/* ----------------------------------------------------- Responsive --------------------------------------------------*/
/* Điện thoại di động (dưới 480px) */
@media only screen and (max-width: 480px) {
    :root {
        --hd-height: 60px;
    }

}

/* Điện thoại di động lớn và máy tính bảng nhỏ (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}


/* Máy tính bảng và thiết bị màn hình nhỏ (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Máy tính xách tay và màn hình lớn (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Màn hình rộng (1201px trở lên) */
@media only screen and (min-width: 1201px) {

}