.tieude {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border: 2px solid blue;
    border-radius: 50px 0 50px 0 ;
    margin-left: 100px;
    visibility: hidden;
    transition: 0.5s;
}

.tieudeshow {
    visibility: visible;
    margin-top: 20%;
}

#tieude {
    color: red;
}

.img-hehe {
    width: 20%;
}

.link {
    text-decoration: none;
    color: #dddddd;
    background-color: black;
    padding: 10px;
    border-radius: 5px 0 5px 0;
    border: 1px solid green;
}

.link:hover {
    background-color: white;
    color:blue;
}

.btn-hello {
    cursor: pointer;
}



.fluid-container {
    background-color: red;
}

.qwe {
    background-color: blue;
}

.left {
    background-color: aqua;
}

.right {
    background-color: brown;
    position: relative;
    position: absolute;
    top: 50%;
    
}
